version: "3.9"

services:
  application:
    container_name: kris-bot
    build:
      context: .
      target: builder
      dockerfile: ./Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - ${PORT}:${PORT}
    command: npm run start:dev
    restart: unless-stopped
    networks:
      - app

networks:
  app:
    driver: bridge
